#killBoxGame {
    background-image: url(bg2.jpeg);
    background-size: 100%;
	background-color: black;
    width: 100vw;
    height: 100vh;
	margin: auto;
	position: relative;	
    overflow: hidden;
}

#start {
    position: absolute;
    top: 25px;
	left: 3%;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid white;
    cursor: pointer;
}
#start:hover {
    transition: 1s;
    transform: scale(1.05);
}

#health {
	position: absolute;
	top: 20px;
	left: 25%;
	height: 30px;
	width: 50%;
	background: linear-gradient(to right,#f63c3c,orange, #00ff2f);
	transition: width .5s;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 0 5px white;
}
#health:hover {
    transition: 1s;
    transform: scale(1.05);
}

.monster {
	width:200px;
    height: 350px;
	position: absolute;
	bottom: 0;
    animation-name: monsters;
    animation-duration: 40s;
}

@keyframes monsters {
    5% {
        left: 85%;
        transform: scale(1.5);
    }
    10% {
        left: 15%;
        transform: scale(1);
    }
    15% {
        left: 40%;
        transform: scale(1.8);
    }
    20% {
        left: 75%;
        transform: scale(1.2);
    }
    25% {
        left: 5%;
        transform: scale(1.6);
    }
    30% {
        left: 52%;
        transform: scale(2);
    }
    35% {
        left: 99%;
        transform: scale(1.1);
    }
    40% {
        left: 75%;
        transform: scale(1.7);
    }
    45% {
        left: 47%;
        transform: scale(1.4);
    }
    50% {
        left: 17%;
        transform: scale(1.6);
    }
    55% {
        left: 37%;
        transform: scale(1.2);
    }
    60% {
        left: 85%;
        transform: scale(1.9);
    }
    65% {
        left: 85%;
        transform: scale(1.9);
    }
    70% {
        left: 85%;
        transform: scale(1.9);
    }
    75% {
        left: 85%;
        transform: scale(1.9);
    }
    80% {
        left: 85%;
        transform: scale(1.9);
    }
    85% {
        left: 85%;
        transform: scale(1.9);
    }
    90% {
        left: 85%;
        transform: scale(1.9);
    }
    95% {
        left: 85%;
        transform: scale(1.9);
    }
    100% {
        left: 85%;
        transform: scale(1.9);
    }
}


.monster.showing {
	bottom: 0;
}

.monster.shooting {
    background-color: red;
}

.monster.dead {
    display: none;
	height: 20px;
}

